streamlit
torch
transformers
pandas
numpy
matplotlib

# NLP & Text Processing
nltk
scikit-learn

# File handling
PyPDF2
python-docx
PyMuPDF

# Speech & Audio
SpeechRecognition
gTTS

# Translation
deep-translator
googletrans==4.0.0-rc1

# YouTube
youtube-transcript-api

# Image Processing & OCR
pillow
pytesseract

# Streamlit extras
streamlit-autorefresh

# AI API (Gemini)
google-generativeai